<nb-layout>
  <nb-layout-column class="mt-0 pt-0">
    <div class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-75 mx-auto" src="./assets/images/bg01.jpg" alt="First slide">
          <div class="header-text col-md-12 text-center">
            <h2>
              <span>RCP點名系統</span>
            </h2>
            <br>
            <h3>
              <span>省時、快速、方便</span>
            </h3>
          </div>
        </div>
        <div class="carousel-item mx-auto">
          <img class="d-block w-75 mx-auto" src="./assets/images/bg02.jpg" alt="Second slide">
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>